<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserLabel="@string/application_name" package="com.sec.android.app.launcher" platformBuildVersionCode="24" platformBuildVersionName="7.0">
    <original-package android:name="com.android.launcher2"/>
    <uses-permission android:name="com.samsung.helphub.permission.HELP"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:xlargeScreens="true"/>
    <adopt-permissions android:name="com.android.launcher"/>
    <adopt-permissions android:name="com.sec.android.app.twlauncher"/>
    <adopt-permissions android:name="com.sec.android.app.seniorlauncher"/>
    <permission android:description="@string/read_home_screen_settings_info" android:label="@string/read_home_screen_settings" android:name="com.android.launcher.permission.READ_SETTINGS" android:permissionGroup="android.permission-group.SYSTEM_TOOLS" android:protectionLevel="normal"/>
    <permission android:description="@string/change_home_screen_settings_info" android:label="@string/change_home_screen_settings" android:name="com.android.launcher.permission.WRITE_SETTINGS" android:permissionGroup="android.permission-group.SYSTEM_TOOLS" android:protectionLevel="signatureOrSystem"/>
    <permission android:description="@string/permdesc_write_settings" android:label="@string/permlab_write_settings" android:name="com.android.launcher.permission.ID" android:permissionGroup="android.permission-group.SYSTEM_TOOLS" android:protectionLevel="signatureOrSystem"/>
    <permission android:name="com.sec.permission.BACKUP_RESTORE_HOMESCREEN" android:protectionLevel="signatureOrSystem"/>
    <permission android:description="@string/permdesc_install_widget" android:label="@string/permlab_install_widget" android:name="com.sec.android.launcher.permission.BIND_WIDGET" android:permissionGroup="android.permission-group.SYSTEM_TOOLS" android:protectionLevel="normal"/>
    <permission android:name="com.sec.android.launcher.permission.CHANGE_TPHONE_MODE" android:protectionLevel="signatureOrSystem"/>
    <uses-permission android:name="com.samsung.permission.READ_SM_DATA"/>
    <uses-permission android:name="com.samsung.permission.WRITE_SM_DATA"/>
    <uses-permission android:name="com.sec.knox.APK_INSTALL_LWC"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.BIND_APPWIDGET"/>
    <uses-permission android:name="android.permission.CALL_PRIVILEGED"/>
    <uses-permission android:name="android.permission.DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.dashwire.config.launcher.SEND_HOMESCREEN_RESULT"/>
    <uses-permission android:name="com.samsung.android.permission.SSRM_NOTIFICATION_PERMISSION"/>
    <uses-permission android:name="com.samsung.android.providers.context.permission.READ_APP_USAGE_DB"/>
    <uses-permission android:name="com.samsung.android.providers.context.permission.READ_PROFILE"/>
    <uses-permission android:name="com.samsung.android.widgetapp.briefing4x2.permission.READ_APP_USAGE"/>
    <uses-permission android:name="com.samsung.android.app.storyalbumwidget.permission.ACCESS_STORYALBUM_WIDGET"/>
    <uses-permission android:name="com.samsung.android.service.travel.permission.TRAVEL_SERVICE"/>
    <uses-permission android:name="com.samsung.android.tripwidget.permission.TRAVEL_WIDGET"/>
    <uses-permission android:name="com.samsung.helphub.permission.GET_DATA"/>
    <uses-permission android:name="com.samsung.helphub.permission.WRITE_DATA"/>
    <uses-permission android:name="com.sec.android.app.twdvfs.DVFS_BOOSTER_PERMISSION"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>
    <uses-permission android:name="com.sec.android.providers.insight.permission.READ_INSIGHT_DB"/>
    <uses-permission android:name="com.sec.android.widgetapp.ap.hero.accuweather.permission.READ_ACCU_DATA"/>
    <uses-permission android:name="com.sec.android.widgetapp.ap.hero.accuweather.permission.WRITE_ACCU_DATA"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="com.sec.android.phone.permission.DATA_ROAMING_SETTINGS_ENHANCED"/>
    <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE"/>
    <uses-permission android:name="sstream.app.StoryProvider.Covers.READ_PERMISSION"/>
    <uses-permission android:name="com.sec.android.stk.permission.EVENT"/>
    <uses-permission android:name="com.sec.android.stk2.permission.EVENT"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_USERS"/>
    <uses-permission android:name="com.sec.permission.BACKUP_RESTORE_HOMESCREEN"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="com.wssnps.permission.COM_WSSNPS"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="com.sec.android.permission.LAUNCH_PERSONAL_PAGE_SERVICE"/>
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>
    <uses-permission android:name="com.samsung.alwaysmicon.permission.READ_CONTENT"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="com.samsung.android.game.gamehome.permission.READ_CONTENT"/>
    <uses-permission android:name="com.samsung.android.game.gamehome.permission.ENABLE_GAMEHOME"/>
    <uses-permission android:name="com.sec.android.daemonapp.ap.accuweather.ACCUWEATHER_DAEMON_ACCESS_PROVIDER"/>
    <uses-permission android:name="com.sec.android.selecthomewizard.read"/>
    <uses-permission android:name="com.samsung.permission.READ_LABSDB"/>
    <uses-permission android:name="com.samsung.android.virtualscreen.permission.MANAGE_VIRTUAL_SCREEN"/>
    <uses-permission android:name="com.samsung.applock.permission.STATUSCHANGED"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="com.samsung.sec.android.application.csc"/>
    <uses-permission android:name="com.samsung.android.scloud.backup.lib.read"/>
    <uses-permission android:name="com.samsung.android.scloud.backup.lib.write"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.samsung.applock.permission.STATUS_UPDATE"/>
    <application android:allowBackup="false" android:backupAgent="com.android.launcher2.LauncherBackupAgentHelper" android:debuggable="false" android:hardwareAccelerated="@bool/config_hardwareAccelerated" android:icon="@drawable/ic_launcher_home" android:label="@string/application_name" android:largeHeap="@bool/config_largeHeap" android:name="com.android.launcher2.LauncherApplication" android:restoreAnyVersion="true" android:supportsRtl="true" android:theme="@style/TouchWiz">
        <meta-data android:name="com.google.android.backup.api_key" android:value="AEdPqrEAAAAIy51XDwBaowWsPj4yqeVPtOOxkwk6OW31EcyTzQ"/>
        <meta-data android:name="backup_name" android:resource="@xml/backup_item"/>
        <meta-data android:name="backup_content_uri" android:value="content://com.sec.android.app.launcher.backup"/>
        <activity android:clearTaskOnLaunch="true" android:configChanges="FlipFont|keyboard|keyboardHidden|mcc|mnc|navigation|orientation|screenSize|uiMode" android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.android.launcher2.Launcher" android:screenOrientation="nosensor" android:stateNotNeeded="true" android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.MONKEY"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.sec.launcher.action.INSTALL_WIDGET"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable_include_voice"/>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
        </activity>
        <activity-alias android:clearTaskOnLaunch="true" android:configChanges="fontScale|keyboard|keyboardHidden|navigation|orientation|screenSize|uiMode" android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.sec.android.app.launcher.activities.LauncherActivity" android:screenOrientation="nosensor" android:stateNotNeeded="true" android:targetActivity="com.android.launcher2.Launcher" android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.MONKEY"/>
            </intent-filter>
        </activity-alias>
        <activity android:configChanges="locale|keyboardHidden|layoutDirection|orientation|screenSize" android:label="@string/homes_screen_settings" android:name="com.android.launcher2.HomeScreenSettingsActivity" android:screenOrientation="nosensor" android:theme="@style/SettingsTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="locale|keyboardHidden|layoutDirection|orientation|screenSize" android:label="@string/options_menu_search_recommend" android:name="com.android.launcher2.AppSearchSettingActivity" android:screenOrientation="nosensor" android:theme="@style/SettingsTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:excludeFromRecents="true" android:exported="false" android:launchMode="singleInstance" android:name="com.android.launcher2.LabsAlertDialogActivity" android:theme="@style/LabsDialog"/>
        <receiver android:name="com.android.launcher2.LabsReceiver"> android:permission="com.samsung.permission.READ_LABSDB" &gt;
<intent-filter>
                <action android:name="com.samsung.android.action.homemodechange"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.launcher2.InstallShortcutReceiver" android:permission="com.android.launcher.permission.INSTALL_SHORTCUT">
            <intent-filter>
                <action android:name="com.android.launcher.action.INSTALL_SHORTCUT"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.launcher2.UninstallShortcutReceiver" android:permission="com.android.launcher.permission.UNINSTALL_SHORTCUT">
            <intent-filter>
                <action android:name="com.android.launcher.action.UNINSTALL_SHORTCUT"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.launcher2.ChangeCallAppReceiver" android:permission="com.sec.android.launcher.permission.CHANGE_TPHONE_MODE">
            <intent-filter>
                <action android:name="com.sec.android.favoriteapp.CHANGE_TPHONE_MODE"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="true" android:name="com.android.launcher2.XmlBackup" android:permission="com.sec.permission.BACKUP_RESTORE_HOMESCREEN">
            <intent-filter>
                <action android:name="com.sec.android.intent.action.REQUEST_BACKUP_HOMELAYOUT"/>
                <action android:name="com.sec.android.intent.action.REQUEST_RESTORE_HOMELAYOUT"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.launcher2.AppWidgetsRestoredReceiver">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_HOST_RESTORED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.launcher2.InstallWidgetReceiver" android:permission="com.sec.android.launcher.permission.BIND_WIDGET">
            <intent-filter>
                <action android:name="com.sec.android.launcher.action.BIND_WIDGET"/>
                <action android:name="com.sec.android.launcher.action.UNBIND_WIDGET"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.launcher2.ChameleonUpdateReceiver">
            <intent-filter>
                <action android:name="com.samsung.intent.action.CSC_CHAMELEON_UPDATE_LAUNCHER"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.launcher2.OmcUpdateReceiver" android:permission="com.samsung.sec.android.application.csc">
            <intent-filter>
                <action android:name="com.samsung.intent.action.OMCUPDATE_START"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.launcher2.RestoreCompleteReceiver">
            <intent-filter>
                <action android:name="com.sec.android.intent.action.HOME_RESTORE_COMPLETE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.launcher2.StartupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.sec.android.app.launcher.settings" android:exported="true" android:name="com.android.launcher2.LauncherProvider" android:readPermission="com.android.launcher.permission.READ_SETTINGS" android:writePermission="com.android.launcher.permission.WRITE_SETTINGS"/>
        <provider android:authorities="com.sec.android.app.launcher.settings.id" android:exported="true" android:name="com.android.launcher2.LauncherProviderID" android:readPermission="com.android.launcher.permission.READ_SETTINGS" android:writePermission="com.android.launcher.permission.ID"/>
        <provider android:authorities="com.sec.android.app.launcher.backup" android:enabled="true" android:exported="true" android:label="Homescreen sCloud Provider" android:name="com.samsung.android.scloud.oem.lib.bnr.BNRClientProivder" android:readPermission="com.samsung.android.scloud.backup.lib.read" android:syncable="false" android:writePermission="com.samsung.android.scloud.backup.lib.write"/>
        <provider android:authorities="com.sec.android.launcher.provider.PostPosition" android:exported="true" android:name="com.android.launcher2.customer.PostPositionProvider" android:readPermission="com.android.launcher.permission.READ_SETTINGS" android:writePermission="com.android.launcher.permission.WRITE_SETTINGS"/>
        <service android:exported="false" android:name="com.android.launcher2.LauncherService"/>
        <meta-data android:name="android.nfc.disable_beam_default" android:value="true"/>
        <meta-data android:name="rcpFileCopier" android:value=""/>
        <meta-data android:name="samsung.galaxylabs.crystal" android:resource="@xml/crystal_info"/>
        <meta-data android:name="com.samsung.android.icon_container.has_icon_container" android:value="true"/>
        <meta-data android:name="SPDE.build.signature" android:value="3637385/11496394/2016-release/TouchWizHome-500000-5.8.53"/>
        <meta-data android:name="SPDE.env.version" android:value="2.1.3/L24.2.16/24.2.9"/>
    </application>
</manifest>
