<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserId="android.uid.system" package="com.sec.android.app.sysscope" platformBuildVersionCode="26" platformBuildVersionName="8.0.0">
    <protected-broadcast android:name="com.sec.intent.action.SYSSCOPESTATUS"/>
    <protected-broadcast android:name="com.verizon.security.ROOT_STATUS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="com.sec.android.app.sysscope.permission.RUN_SYSSCOPE"/>
    <uses-permission android:name="com.sec.android.app.sysscope.permission.ACCESS_SYSTEM_INFO_SYSSCOPE_ONLY"/>
    <permission android:description="@string/permdesc_run_sysscope" android:label="@string/permlab_run_sysscope" android:name="com.sec.android.app.sysscope.permission.RUN_SYSSCOPE" android:permissionGroup="com.sec.android.app.sysscope.permission-group.SYSTEM_DIAGNOSIS" android:protectionLevel="signatureOrSystem"/>
    <permission-group android:description="@string/permgroupdesc_sysscope" android:label="@string/permgrouplab_sysscope" android:name="com.sec.android.app.sysscope.permission-group.SYSTEM_DIAGNOSIS"/>
    <permission android:name="com.verizon.permission.RECEIVE_ROOT_STATUS" android:protectionLevel="signatureOrSystem"/>
    <application android:debuggable="false" android:icon="@drawable/icon" android:label="@string/app_name" android:persistent="false">
        <receiver android:name="com.sec.android.app.sysscope.receiver.BootCompleteReceiver">
            <intent-filter android:priority="100000000">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:name="com.sec.android.app.sysscope.service.SysScopeService" android:permission="com.sec.android.app.sysscope.permission.RUN_SYSSCOPE">
            <intent-filter>
                <action android:name="com.sec.intent.action.SYSSCOPE"/>
            </intent-filter>
        </service>
        <provider android:authorities="com.verizon.security" android:name="com.sec.android.app.sysscope.service.DataProvider"/>
        <meta-data android:name="SPDE.build.signature" android:value="f4961e3/19586865/flavor1_a-release/SysScope-100200-1.4.32"/>
        <meta-data android:name="SPDE.env.version" android:value="2.3.3/G26.1.14/26.1.1"/>
    </application>
</manifest>